
.Table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 1rem;
  }
  
 
  .Table thead th {
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6; 
    padding: 8px;
  }
  

  .Table tbody tr:nth-child(even) {
    background-color: #f8f9fa;
  }
  
 
  .Table tbody tr td {
    border: 1px solid #dee2e6; 
    padding: 8px;
  }
  

  .Table tbody tr td:first-child input[type="checkbox"] {
    margin-right: 5px;
  }
  
 
  .Table tbody tr.selected {
    background-color: #dee2e6;
  }
  

  .Table tbody tr:hover {
    background-color: #e2e6ea; 
  }
  

  .Table thead th:first-child input[type="checkbox"] {
    margin-right: 5px;
  }
  .style {
    align-items: center;
  }
 

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 1rem;
}

.page-num,
.previous,
.next {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
}

.active {
  background-color: #007bff;
  color: #fff;
}
.Table tbody tr:hover {
  background-color: #f5f5f5;
}

.Table tbody tr.selected {
  background-color: #a0c4ff; 
}
.edit {
background-color: lightblue;
border-radius: 8px;
font-size: 15px
}
.delete{
  background-color:  red;
  border-radius: 8px;
  font-size: 15px
}

.filter {
  margin: 10rem;
}


.namefilter {

  padding: 5px;
  animation: alternate;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.rolefilter {

  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.update{
  background-color:   green;
  border-radius: 8px;
  font-size: 15px
}
.deleteall{
  background-color:  darkgoldenrod;
  border-radius: 8px;
  font-size: 15px
}
.tablehead{
  text-align: left;
}